@model Customer
@{
    ViewBag.Title = ViewBag.Action + " Employee";
}
<div class="container">
    <form asp-action="Edit" method="post">
        <h1>@ViewBag.Action Customer</h1>

        <div class="form-group row">
            <label asp-for="@Model.FName" class="col-2">First Name</label>
            <input asp-for="@Model.FName" type="text" class="form-control col-4" />
            <span asp-validation-for="@Model.FName" class="text-danger col-6"></span>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.LName" class="col-2">Last Name</label>
            <input asp-for="@Model.LName" type="text" class="form-control col-4">
            <span asp-validation-for="@Model.LName" class="text-danger col-6"></span>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.PhoneNumber" class="col-2">Phone Number</label>
            <input asp-for="@Model.PhoneNumber" placeholder="(xxx)-xxx-xxxx" type="text" class="form-control col-4">
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger col-6"></span>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.Email" class="col-2">Email Address</label>
            <input asp-for="@Model.Email" placeholder="sample@gmail.com" type="text" class="form-control col-4">
            <span asp-validation-for="@Model.Email" class="text-danger col-6"></span>
        </div>

        <input type="hidden" asp-for="@Model.CustomerId" />

        <input type="submit" value="Save" class="btn btn-primary">
        <a asp-action="List" class="btn btn-primary">Cancel</a>
    </form>
</div>